# Dependencies
node_modules
.pnpm-store

# Next.js
.next
**/.next/**
apps/web/.next/cache/
apps/web/.next/server/
out

# Build outputs
dist
build

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Testing
coverage
